body {
background-image: url('../img/giphy.gif');
background-repeat: no-repeat;
background-size: cover;
}
 button {
   width: 1200px;
   height: 150px;
   margin-left: 400px;
   text-align: center;
 }
